# dependencies
node_modules/

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem
.vscode/

# debug
*.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel/

# typescript
*.tsbuildinfo

.idea/

*/public/sitemap*.xml
.eslintcache
dist/
.turbo/

.git
.gitignore