.yalc
.next/
out/
pnpm-lock.yaml
dist/
# ignore below md since they are fetched from GitHub
website/src/pages/*/subgraphs/developing/creating/graph-ts/*.md
website/src/pages/*/subgraphs/querying/graph-client/*.md
