.yalc
.next/
out/
pnpm-lock.yaml
dist/
# fetched files
website/src/openApi/*.json
website/src/pages/*/subgraphs/developing/creating/graph-ts/*.md
website/src/pages/*/subgraphs/querying/graph-client/*.md