{
  "openapi": "3.1.0",
  "info": {
    "title": "Token API (Beta)",
    "description": "Power your apps & AI agents with real-time token data.",
    "version": "1.0.0+e69e868 (2025-03-25)"
  },
  "servers": [
    {
      "url": "https://token-api.thegraph.com",
      "description": "Token API - Production"
    },
    {
      "url": "https://token-api.service.pinax.network",
      "description": "Token API - Dev"
    },
    {
      "url": "http://localhost:8000",
      "description": "Token API - Local"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/balances/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "arbitrum-one",
                              "base",
                              "bsc",
                              "matic",
                              "optimism"
                            ],
                            "default": "mainnet",
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "contract",
                          "amount",
                          "symbol",
                          "decimals",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 22067152,
                      "timestamp": 1742221043,
                      "date": "2025-03-17",
                      "contract": "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                      "amount": "159482036593475716150538",
                      "decimals": 18,
                      "symbol": "ETH",
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getBalancesEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "EVM address to query"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "arbitrum-one",
                "base",
                "bsc",
                "matic",
                "optimism"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "description": "Token Balances by Wallet Address",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transfers/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "transaction_id": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "arbitrum-one",
                              "base",
                              "bsc",
                              "matic",
                              "optimism"
                            ],
                            "default": "mainnet",
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "contract",
                          "from",
                          "to",
                          "amount",
                          "transaction_id",
                          "symbol",
                          "decimals",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 22071757,
                      "timestamp": 1742276627,
                      "date": "2025-03-18",
                      "contract": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                      "from": "0x835678a611b28684005a5e2233695fb6cbbb0007",
                      "to": "0x5a52e96bacdabb82fd05763e25335261b270efcb",
                      "amount": "5806756000000",
                      "transaction_id": "0x843979ef37cbb2348c2c98f065a8684e7cd92496e08fd736a02a72d2041ecb4e",
                      "decimals": 6,
                      "symbol": "USDC",
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getTransfersEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "EVM address to query"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "arbitrum-one",
                "base",
                "bsc",
                "matic",
                "optimism"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "age",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 180,
              "default": 30,
              "description": "Indicates how many days have passed since the data's creation or insertion."
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by contract address"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "description": "Token Transfers by Wallet Address",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/holders/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "arbitrum-one",
                              "base",
                              "bsc",
                              "matic",
                              "optimism"
                            ],
                            "default": "mainnet",
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "address",
                          "amount",
                          "symbol",
                          "decimals",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 20581510,
                      "timestamp": 1724297855,
                      "date": "2024-08-22",
                      "contract": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "amount": "120000000000000000000000",
                      "decimals": 18,
                      "symbol": "GRT",
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getHoldersEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "EVM contract address to query"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "arbitrum-one",
                "base",
                "bsc",
                "matic",
                "optimism"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "The order in which to return the results.",
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "description": "Token Holders by Contract Address",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tokens/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "circulating_supply": {
                            "type": "string"
                          },
                          "holders": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "arbitrum-one",
                              "base",
                              "bsc",
                              "matic",
                              "optimism"
                            ],
                            "default": "mainnet",
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "icon": {
                            "type": "object",
                            "properties": {
                              "web3icon": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "web3icon"
                            ]
                          }
                        },
                        "required": [
                          "block_num",
                          "timestamp",
                          "date",
                          "address",
                          "name",
                          "symbol",
                          "decimals",
                          "circulating_supply",
                          "holders",
                          "network_id",
                          "icon"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "date": "2025-03-18",
                      "timestamp": "2025-03-18 15:46:59",
                      "block_num": 22074750,
                      "address": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "name": "Graph Token",
                      "symbol": "GRT",
                      "decimals": 18,
                      "network_id": "mainnet",
                      "circulating_supply": "10803355950136852966436018411",
                      "holders": 170086,
                      "icon": {
                        "web3icon": "GRT"
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getTokensEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "arbitrum-one",
                "base",
                "bsc",
                "matic",
                "optimism"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          }
        ],
        "description": "Token Holders and Supply by Contract Address",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "OK"
              }
            }
          },
          "403": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "authentication_failed"
                }
              }
            }
          },
          "500": {
            "description": "Database Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "bad_database_response"
                }
              }
            }
          },
          "502": {
            "description": "Connection Refused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 502,
                  "code": "connection_refused"
                }
              }
            }
          }
        },
        "operationId": "getHealth",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get health status of the API"
      }
    },
    "/version": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "commit": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "version",
                    "date",
                    "commit"
                  ]
                },
                "example": {
                  "version": "1.0.0",
                  "commit": "e69e868",
                  "date": "2025-03-25",
                  "repo": "pinax-network/token-api"
                }
              }
            }
          }
        },
        "operationId": "getVersion",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get the version of the API"
      }
    },
    "/networks": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "networks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "shortName": {
                            "type": "string"
                          },
                          "caip2Id": {
                            "type": "string"
                          },
                          "networkType": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "object",
                            "properties": {
                              "web3Icons": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "web3Icons"
                            ]
                          },
                          "alias": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "fullName",
                          "shortName",
                          "caip2Id",
                          "networkType",
                          "icon",
                          "alias"
                        ]
                      }
                    }
                  },
                  "required": [
                    "networks"
                  ]
                },
                "example": {
                  "networks": [
                    {
                      "id": "mainnet",
                      "fullName": "Ethereum Mainnet",
                      "shortName": "Ethereum",
                      "networkType": "mainnet",
                      "nativeToken": "ETH",
                      "caip2Id": "eip155:1",
                      "icon": {
                        "web3Icons": {
                          "name": "ethereum"
                        }
                      },
                      "aliases": [
                        "ethereum",
                        "eth",
                        "eth-mainnet",
                        "evm-1"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getNetworks",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get supported networks of the API"
      }
    }
  }
}