{
  "openapi": "3.1.0",
  "info": {
    "title": "Token API (Beta)",
    "description": "Power your apps & AI agents with real-time token data.",
    "version": "2.3.3+6e8d0f0 (2025-07-24)"
  },
  "servers": [
    {
      "url": "https://token-api.thegraph.com/",
      "description": "Token API - Remote"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/nft/ownerships/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_id": {
                            "type": "string"
                          },
                          "token_standard": {
                            "type": "string",
                            "enum": [
                              "",
                              "ERC721",
                              "ERC1155"
                            ],
                            "default": ""
                          },
                          "contract": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "uri": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "matic",
                              "optimism",
                              "unichain"
                            ],
                            "default": "mainnet",
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet"
                          }
                        },
                        "required": [
                          "token_id",
                          "token_standard",
                          "contract",
                          "owner",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "token_id": "12",
                      "token_standard": "ERC721",
                      "contract": "0x000386e3f7559d9b6a2f5c46b4ad1a9587d59dc3",
                      "owner": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                      "symbol": "BANC",
                      "name": "Bored Ape Nike Club",
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 400,
                  "code": "bad_query_input",
                  "message": "Invalid query parameter provided"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 401,
                  "code": "unauthorized",
                  "message": "Authentication required"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "forbidden",
                  "message": "Access denied"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 404,
                  "code": "not_found_data",
                  "message": "Resource not found"
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "internal_server_error",
                  "message": "An unexpected error occurred"
                }
              }
            }
          }
        },
        "operationId": "getNftOwnershipsEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "description": "Filter by address",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "matic",
                "optimism",
                "unichain"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "token_standard",
            "schema": {
              "type": "string",
              "enum": [
                "",
                "ERC721",
                "ERC1155"
              ],
              "default": ""
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "description": "Filter by address",
              "default": ""
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "NFT Ownerships",
        "description": "Provides NFT Ownerships for Account.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/nft/collections/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "contract_creation": {
                            "type": "string"
                          },
                          "contract_creator": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "owners": {
                            "type": "number"
                          },
                          "total_supply": {
                            "type": "number"
                          },
                          "total_unique_supply": {
                            "type": "number"
                          },
                          "total_transfers": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "matic",
                              "optimism",
                              "unichain"
                            ],
                            "default": "mainnet",
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet"
                          }
                        },
                        "required": [
                          "contract",
                          "contract_creation",
                          "contract_creator",
                          "name",
                          "symbol",
                          "owners",
                          "total_supply",
                          "total_unique_supply",
                          "total_transfers",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "token_standard": "ERC721",
                      "contract": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8",
                      "contract_creation": "2021-07-22 12:26:01",
                      "contract_creator": "0xe9da256a28630efdc637bfd4c65f0887be1aeda8",
                      "name": "PudgyPenguins",
                      "symbol": "PPG",
                      "owners": 12258,
                      "total_supply": 8888,
                      "total_unique_supply": 8888,
                      "total_transfers": 185128,
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 400,
                  "code": "bad_query_input",
                  "message": "Invalid query parameter provided"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 401,
                  "code": "unauthorized",
                  "message": "Authentication required"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "forbidden",
                  "message": "Access denied"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 404,
                  "code": "not_found_data",
                  "message": "Resource not found"
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "internal_server_error",
                  "message": "An unexpected error occurred"
                }
              }
            }
          }
        },
        "operationId": "getNftCollectionsEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "description": "Filter by NFT contract address",
              "example": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "matic",
                "optimism",
                "unichain"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet"
            }
          }
        ],
        "summary": "NFT Collection",
        "description": "Provides single NFT collection metadata, total supply, owners & total transfers.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/nft/items/evm/contract/{contract}/token_id/{token_id}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_id": {
                            "type": "string"
                          },
                          "token_standard": {
                            "type": "string",
                            "enum": [
                              "",
                              "ERC721",
                              "ERC1155"
                            ],
                            "default": ""
                          },
                          "contract": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "string"
                          },
                          "uri": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "image": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "trait_type": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                },
                                "display_type": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "trait_type",
                                "value"
                              ]
                            }
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "matic",
                              "optimism",
                              "unichain"
                            ],
                            "default": "mainnet",
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet"
                          }
                        },
                        "required": [
                          "token_id",
                          "token_standard",
                          "contract",
                          "owner",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "token_standard": "ERC721",
                      "contract": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8",
                      "token_id": "5712",
                      "owner": "0x9379557bdf32f5ee296ca7b360ccb8dcb9543d8e",
                      "uri": "ipfs://bafybeibc5sgo2plmjkq2tzmhrn54bk3crhnc23zd2msg4ea7a4pxrkgfna/5712",
                      "name": "Pudgy Penguin #5712",
                      "description": "A collection 8888 Cute Chubby Pudgy Penquins sliding around on the freezing ETH blockchain.",
                      "image": "ipfs://QmNf1UsmdGaMbpatQ6toXSkzDpizaGmC9zfunCyoz1enD5/penguin/5712.png",
                      "attributes": [
                        {
                          "trait_type": "Background",
                          "value": "Blue"
                        },
                        {
                          "trait_type": "Skin",
                          "value": "Olive Green"
                        },
                        {
                          "trait_type": "Body",
                          "value": "Turtleneck Green"
                        },
                        {
                          "trait_type": "Face",
                          "value": "Scar"
                        },
                        {
                          "trait_type": "Head",
                          "value": "Party Hat"
                        }
                      ],
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 400,
                  "code": "bad_query_input",
                  "message": "Invalid query parameter provided"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 401,
                  "code": "unauthorized",
                  "message": "Authentication required"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "forbidden",
                  "message": "Access denied"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 404,
                  "code": "not_found_data",
                  "message": "Resource not found"
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "internal_server_error",
                  "message": "An unexpected error occurred"
                }
              }
            }
          }
        },
        "operationId": "getNftItemsEvmContractByContractToken_idByToken_id",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "token_id",
            "schema": {
              "type": "string",
              "description": "NFT token ID",
              "example": "5712"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "description": "Filter by NFT contract address",
              "example": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "matic",
                "optimism",
                "unichain"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet"
            }
          }
        ],
        "summary": "NFT Items",
        "description": "Provides single NFT token metadata, ownership & traits.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/nft/activities/evm": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "@type": {
                            "type": "string",
                            "enum": [
                              "TRANSFER",
                              "MINT",
                              "BURN"
                            ]
                          },
                          "block_num": {
                            "type": "number"
                          },
                          "block_hash": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "tx_hash": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "token_id": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "transfer_type": {
                            "type": "string"
                          },
                          "token_standard": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "@type",
                          "block_num",
                          "block_hash",
                          "timestamp",
                          "tx_hash",
                          "contract",
                          "from",
                          "to",
                          "token_id",
                          "amount"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "@type": "TRANSFER",
                      "block_num": 22588725,
                      "block_hash": "0xe8d2f48bb5d7619fd0c180d6d54e7ca94c5f4eddfcfa7a82d4da55b310dd462a",
                      "timestamp": "2025-05-29 13:32:23",
                      "tx_hash": "0xa7b3302a5fe4a60e4ece22dfb2d98604daef5dc610fa328d8d0a7a92f3efc7b9",
                      "token_standard": "ERC721",
                      "contract": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8",
                      "name": "PudgyPenguins",
                      "symbol": "PPG",
                      "from": "0x2afec1c9af7a5494503f8acfd5c1fdd7d2c57480",
                      "to": "0x29469395eaf6f95920e59f858042f0e28d98a20b",
                      "token_id": "500",
                      "amount": 1,
                      "transfer_type": "Single"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 400,
                  "code": "bad_query_input",
                  "message": "Invalid query parameter provided"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 401,
                  "code": "unauthorized",
                  "message": "Authentication required"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "forbidden",
                  "message": "Access denied"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 404,
                  "code": "not_found_data",
                  "message": "Resource not found"
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "internal_server_error",
                  "message": "An unexpected error occurred"
                }
              }
            }
          }
        },
        "operationId": "getNftActivitiesEvm",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "matic",
                "optimism",
                "unichain"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "description": "Filter by NFT contract address",
              "example": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "anyAddress",
            "schema": {
              "type": "string",
              "description": "Filter by address",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "fromAddress",
            "schema": {
              "type": "string",
              "description": "Filter by address",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "toAddress",
            "schema": {
              "type": "string",
              "description": "Filter by address",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "integer",
              "description": "UNIX timestamp in seconds.",
              "default": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "integer",
              "description": "UNIX timestamp in seconds.",
              "default": 9999999999
            },
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string",
              "enum": [
                "timestamp"
              ],
              "default": "timestamp",
              "description": "The field by which to order the results."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "orderDirection",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "The order in which to return the results: Ascending (asc) or Descending (desc)."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            },
            "required": false
          }
        ],
        "summary": "NFT Activities",
        "description": "Provides NFT Activities (ex: transfers, mints & burns).",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/nft/holders/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "token_standard": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "quantity": {
                            "type": "number",
                            "description": "Number of tokens held by this address"
                          },
                          "unique_tokens": {
                            "type": "number",
                            "description": "Number of unique token IDs held by this address"
                          },
                          "percentage": {
                            "type": "number",
                            "description": "Percentage of total supply held by this address"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "matic",
                              "optimism",
                              "unichain"
                            ],
                            "default": "mainnet",
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet"
                          }
                        },
                        "required": [
                          "token_standard",
                          "address",
                          "quantity",
                          "unique_tokens",
                          "percentage",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "token_standard": "ERC721",
                      "address": "0x29469395eaf6f95920e59f858042f0e28d98a20b",
                      "quantity": 534,
                      "unique_tokens": 534,
                      "percentage": 0.06008100810081008,
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 400,
                  "code": "bad_query_input",
                  "message": "Invalid query parameter provided"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 401,
                  "code": "unauthorized",
                  "message": "Authentication required"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "forbidden",
                  "message": "Access denied"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 404,
                  "code": "not_found_data",
                  "message": "Resource not found"
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "internal_server_error",
                  "message": "An unexpected error occurred"
                }
              }
            }
          }
        },
        "operationId": "getNftHoldersEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "description": "Filter by NFT contract address",
              "example": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "matic",
                "optimism",
                "unichain"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet"
            }
          }
        ],
        "summary": "NFT Holders",
        "description": "Provides NFT holders per contract.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/nft/sales/evm": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "block_num": {
                            "type": "number"
                          },
                          "tx_hash": {
                            "type": "string"
                          },
                          "token": {
                            "type": "string"
                          },
                          "token_id": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "offerer": {
                            "type": "string"
                          },
                          "recipient": {
                            "type": "string"
                          },
                          "sale_amount": {
                            "type": "number"
                          },
                          "sale_currency": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "timestamp",
                          "block_num",
                          "tx_hash",
                          "token",
                          "token_id",
                          "symbol",
                          "name",
                          "offerer",
                          "recipient",
                          "sale_amount",
                          "sale_currency"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "timestamp": "2025-05-29 07:52:47",
                      "block_num": 22587041,
                      "tx_hash": "0x6755df1514a066150357d454254e1ce6c1e043f873193125dc98d4c4417861ff",
                      "token": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8",
                      "token_id": "6398",
                      "symbol": "PPG",
                      "name": "PudgyPenguins",
                      "offerer": "0xf671888173bf2fe28d71fba3106cf36d10f470fe",
                      "recipient": "0x43bf952762b087195b8ea70cf81cb6715b6bf5a9",
                      "sale_amount": 10.0667234,
                      "sale_currency": "ETH"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 400,
                  "code": "bad_query_input",
                  "message": "Invalid query parameter provided"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 401,
                  "code": "unauthorized",
                  "message": "Authentication required"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "forbidden",
                  "message": "Access denied"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 404,
                  "code": "not_found_data",
                  "message": "Resource not found"
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "internal_server_error",
                  "message": "An unexpected error occurred"
                }
              }
            }
          }
        },
        "operationId": "getNftSalesEvm",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "matic",
                "optimism",
                "unichain"
              ],
              "default": "mainnet",
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "description": "Filter by NFT contract address",
              "example": "0xbd3531da5cf5857e7cfaa92426877b022e612cf8"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "token_id",
            "schema": {
              "type": "string",
              "description": "NFT token ID",
              "example": "5712",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "anyAddress",
            "schema": {
              "type": "string",
              "description": "Filter by address",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "offererAddress",
            "schema": {
              "type": "string",
              "description": "Filter by address",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "recipientAddress",
            "schema": {
              "type": "string",
              "description": "Filter by address",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "integer",
              "description": "UNIX timestamp in seconds.",
              "default": 0
            },
            "required": false
          },
          {
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "integer",
              "description": "UNIX timestamp in seconds.",
              "default": 9999999999
            },
            "required": false
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string",
              "enum": [
                "timestamp"
              ],
              "default": "timestamp",
              "description": "The field by which to order the results."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "orderDirection",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "The order in which to return the results: Ascending (asc) or Descending (desc)."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            },
            "required": false
          }
        ],
        "summary": "NFT Sales",
        "description": "Provides latest NFT marketplace sales.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/balances/evm/{address}": {
      "get": {
        "responses": {
          "200": {
[...]
