{
  "openapi": "3.1.0",
  "info": {
    "title": "Token API (Beta)",
    "description": "Power your apps & AI agents with real-time token data.",
    "version": "1.2.4+643807a (2025-03-28)"
  },
  "servers": [
    {
      "url": "https://token-api.thegraph.com",
      "description": "Token API - Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Token API - Local"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/balances/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "price_usd": {
                            "type": "number"
                          },
                          "value_usd": {
                            "type": "number"
                          },
                          "low_liquidity": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "date",
                          "contract",
                          "amount",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 21764208,
                      "datetime": "2025-02-03 06:31:23",
                      "date": "2025-02-03",
                      "contract": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "amount": "339640316263000000000000000",
                      "decimals": 18,
                      "symbol": "GRT",
                      "network_id": "mainnet",
                      "price_usd": 0.10426804866144047,
                      "value_usd": 35413633.023497514
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getBalancesEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "EVM wallet address to query",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "Token Balances by Wallet Address",
        "description": "The EVM Balances endpoint provides a snapshot of an account’s current token holdings. The endpoint returns the current balances of native and ERC-20 tokens held by a specified wallet address on an Ethereum-compatible blockchain.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transfers/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "transaction_id": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "price_usd": {
                            "type": "number"
                          },
                          "value_usd": {
                            "type": "number"
                          },
                          "low_liquidity": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "date",
                          "transaction_id",
                          "contract",
                          "from",
                          "to",
                          "amount",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 22128243,
                      "datetime": "2025-03-26 02:58:47",
                      "date": "2025-03-26",
                      "contract": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "from": "0xf89d7b9c864f589bbf53a82105107622b35eaa40",
                      "to": "0x2e4578e6c86380ca1759431fedeeae823e33357b",
                      "amount": "4805168872000000000000",
                      "transaction_id": "0x18c62cfa9c10a1e0a7bee36099151238e668ff61c97c7b9ab616aaa93c176e2c",
                      "decimals": 18,
                      "symbol": "GRT",
                      "network_id": "mainnet",
                      "price_usd": 0.1040243665135064,
                      "value_usd": 499.85464790022
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getTransfersEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "EVM wallet address to query",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "age",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 180,
              "default": 30,
              "description": "Indicates how many days have passed since the data's creation or insertion."
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by contract address"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "Token Transfers by Wallet Address",
        "description": "The EVM Transfers endpoint provides access to historical token transfer events for a specified address. This endpoint is ideal for tracking transaction history and analyzing token movements over time.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/holders/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "price_usd": {
                            "type": "number"
                          },
                          "value_usd": {
                            "type": "number"
                          },
                          "low_liquidity": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "date",
                          "address",
                          "amount",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 12022417,
                      "datetime": "2021-03-12 07:35:19",
                      "date": "2021-03-12",
                      "address": "0x701bd63938518d7db7e0f00945110c80c67df532",
                      "amount": "661800000021764825741967",
                      "decimals": 18,
                      "symbol": "WETH",
                      "network_id": "mainnet",
                      "price_usd": 2008.9052012472073,
                      "value_usd": 1329493462.2291253
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getHoldersEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "EVM contract address to query",
              "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "The order in which to return the results: Ascending (asc) or Descending (desc).",
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "Token Holders by Contract Address",
        "description": "The EVM Holders endpoint provides information about the addresses holding a specific token, including each holder’s balance. This is useful for analyzing token distribution for a particular contract.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tokens/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "date": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "circulating_supply": {
                            "type": "string"
                          },
                          "holders": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "icon": {
                            "type": "object",
                            "properties": {
                              "web3icon": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "web3icon"
                            ]
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "price_usd": {
                            "type": "number"
                          },
                          "market_cap": {
                            "type": "number"
                          },
                          "low_liquidity": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "date",
                          "address",
                          "circulating_supply",
                          "holders",
                          "network_id",
                          "icon"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "date": "2025-03-26",
                      "datetime": "2025-03-26 03:48:35",
                      "block_num": 22128490,
                      "address": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "decimals": 18,
                      "symbol": "GRT",
                      "name": "Graph Token",
                      "network_id": "mainnet",
                      "circulating_supply": "10800262823318213436822328009",
                      "holders": 170271,
                      "icon": {
                        "web3icon": "GRT"
                      },
                      "price_usd": 0.1040243665135064,
                      "market_cap": 1123490498.375051
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getTokensEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "EVM contract address to query",
              "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          }
        ],
        "summary": "Token Metadata by Contract",
        "description": "The Tokens endpoint delivers contract metadata for a specific ERC-20 token contract from a supported EVM blockchain. Metadata includes name, symbol, number of holders, circulating supply, decimals, and more.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ohlc/prices/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ticker": {
                            "type": "string"
                          },
                          "open": {
                            "type": "number"
                          },
                          "high": {
                            "type": "number"
                          },
                          "low": {
                            "type": "number"
                          },
                          "close": {
                            "type": "number"
                          },
                          "volume": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "datetime",
                          "ticker",
                          "open",
                          "high",
                          "low",
                          "close",
                          "volume"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "datetime": "2025-03-27 13:00:00",
                      "ticker": "WETHUSD",
                      "open": 2014.2702939297124,
                      "high": 2025.569558523342,
                      "low": 1994.6332609061067,
                      "close": 2000.6323801360375,
                      "volume": 134562
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getOhlcPricesEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "EVM contract address to query",
              "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "1d",
                "1w"
              ],
              "default": "1h",
              "description": "The interval for which to aggregate price data (hourly, 4-hours, daily or weekly)."
            }
          },
          {
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "Token OHLCV prices by Contract Address",
        "description": "The EVM Prices endpoint provides pricing data in the Open/High/Low/Close/Volume (OHCLV) format.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "OK"
              }
            }
          },
          "403": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "authentication_failed"
                }
              }
            }
          },
          "500": {
            "description": "Database Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "bad_database_response"
                }
              }
            }
          },
          "502": {
            "description": "Connection Refused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 502,
                  "code": "connection_refused"
                }
              }
            }
          }
        },
        "operationId": "getHealth",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get health status of the API"
      }
    },
    "/version": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "commit": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "version",
                    "date",
                    "commit"
                  ]
                },
                "example": {
                  "version": "1.2.4",
                  "commit": "643807a",
                  "date": "2025-03-28",
                  "repo": "pinax-network/token-api"
                }
              }
            }
          }
        },
        "operationId": "getVersion",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get the version of the API"
      }
    },
    "/networks": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "networks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "shortName": {
                            "type": "string"
                          },
                          "caip2Id": {
                            "type": "string"
                          },
                          "networkType": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "object",
                            "properties": {
                              "web3Icons": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "web3Icons"
                            ]
                          },
                          "alias": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "fullName",
                          "shortName",
                          "caip2Id",
                          "networkType",
                          "icon",
                          "alias"
                        ]
                      }
                    }
                  },
                  "required": [
                    "networks"
                  ]
                },
                "example": {
                  "networks": [
                    {
                      "id": "mainnet",
                      "fullName": "Ethereum Mainnet",
                      "shortName": "Ethereum",
                      "networkType": "mainnet",
                      "nativeToken": "ETH",
                      "caip2Id": "eip155:1",
                      "icon": {
                        "web3Icons": {
                          "name": "ethereum"
                        }
                      },
                      "aliases": [
                        "ethereum",
                        "eth",
                        "eth-mainnet",
                        "evm-1"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getNetworks",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get supported networks of the API"
      }
    }
  }
}