{
  "openapi": "3.1.0",
  "info": {
    "title": "Token API (Beta)",
    "description": "Power your apps & AI agents with real-time token data.",
    "version": "1.3.7+dc8469f (2025-05-02)"
  },
  "servers": [
    {
      "url": "https://token-api.thegraph.com",
      "description": "Token API - Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Token API - Local"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/balances/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic",
                              "unichain"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "price_usd": {
                            "type": "number"
                          },
                          "value_usd": {
                            "type": "number"
                          },
                          "low_liquidity": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "contract",
                          "amount",
                          "value",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 21764208,
                      "datetime": "2025-02-03 06:31:23",
                      "contract": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "amount": "339640316263000000000000000",
                      "value": 339640316.263,
                      "decimals": 18,
                      "symbol": "GRT",
                      "network_id": "mainnet",
                      "price_usd": 0.10426804866144047,
                      "value_usd": 35413633.023497514
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getBalancesEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic",
                "unichain"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "Balances by Address",
        "description": "Provides latest ERC-20 & Native balances by wallet address.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/transfers/evm": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "transaction_id": {
                            "type": "string"
                          },
                          "contract": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "from": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "to": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic",
                              "unichain"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "timestamp",
                          "transaction_id",
                          "contract",
                          "from",
                          "to",
                          "amount",
                          "value",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 22349873,
                      "datetime": "2025-04-26 01:18:47",
                      "timestamp": 1745630327,
                      "transaction_id": "0xd80ed9764b0bc25b982668f66ec1cf46dbe27bcd01dffcd487f43c92f72b2a84",
                      "contract": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "from": "0x7d2fbc0eefdb8721b27d216469e79ef288910a83",
                      "to": "0xa5eb953d1ce9d6a99893cbf6d83d8abcca9b8804",
                      "decimals": 18,
                      "symbol": "GRT",
                      "amount": "11068393958660000000000",
                      "value": 11068.393958659999
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getTransfersEvm",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic",
                "unichain"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address"
            }
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            }
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address"
            }
          },
          {
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string",
              "enum": [
                "timestamp"
              ],
              "default": "timestamp",
              "description": "The field by which to order the results."
            }
          },
          {
            "in": "query",
            "name": "orderDirection",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "The order in which to return the results: Ascending (asc) or Descending (desc)."
            }
          },
          {
            "in": "query",
            "name": "transaction_id",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{64}$",
              "description": "Filter by transaction"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "Transfers Events",
        "description": "Provides ERC-20 & Native transfer events.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/tokens/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "circulating_supply": {
                            "type": "string"
                          },
                          "holders": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic",
                              "unichain"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "icon": {
                            "type": "object",
                            "properties": {
                              "web3icon": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "web3icon"
                            ]
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "price_usd": {
                            "type": "number"
                          },
                          "market_cap": {
                            "type": "number"
                          },
                          "low_liquidity": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "address",
                          "circulating_supply",
                          "holders",
                          "network_id",
                          "icon"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 22128490,
                      "datetime": "2025-03-26 03:48:35",
                      "address": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "decimals": 18,
                      "symbol": "GRT",
                      "name": "Graph Token",
                      "network_id": "mainnet",
                      "circulating_supply": "10800262823318213436822328009",
                      "holders": 170271,
                      "icon": {
                        "web3icon": "GRT"
                      },
                      "price_usd": 0.1040243665135064,
                      "market_cap": 1123490498.375051
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getTokensEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by contract address",
              "example": "0xc944e90c64b2c07662a292be6244bdf05cda44a7"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic",
                "unichain"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          }
        ],
        "summary": "Token Metadata",
        "description": "Provides ERC-20 token contract metadata.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/holders/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic",
                              "unichain"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "price_usd": {
                            "type": "number"
                          },
                          "value_usd": {
                            "type": "number"
                          },
                          "low_liquidity": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "address",
                          "amount",
                          "value",
                          "network_id"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 12022417,
                      "datetime": "2021-03-12 07:35:19",
                      "address": "0x701bd63938518d7db7e0f00945110c80c67df532",
                      "amount": "661800000021764825741967",
                      "decimals": 18,
                      "symbol": "WETH",
                      "network_id": "mainnet",
                      "price_usd": 2008.9052012472073,
                      "value_usd": 1329493462.2291253
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getHoldersEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by contract address",
              "example": "0xc944e90c64b2c07662a292be6244bdf05cda44a7"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic",
                "unichain"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string",
              "enum": [
                "value"
              ],
              "default": "value",
              "description": "The field by which to order the results."
            }
          },
          {
            "in": "query",
            "name": "orderDirection",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "The order in which to return the results: Ascending (asc) or Descending (desc)."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "Token Holders",
        "description": "Provides ERC-20 token holder balances by contract address.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/swaps/evm": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic",
                              "unichain"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "transaction_id": {
                            "type": "string"
                          },
                          "caller": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "sender": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "recipient": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "factory": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "pool": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "token0": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Filter by address"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "token1": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Filter by address"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "amount0": {
                            "type": "string"
                          },
                          "amount1": {
                            "type": "string"
                          },
                          "price0": {
                            "type": "number"
                          },
                          "price1": {
                            "type": "number"
                          },
                          "value0": {
                            "type": "number"
                          },
                          "value1": {
                            "type": "number"
                          },
                          "fee": {
                            "type": "string"
                          },
                          "protocol": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "timestamp",
                          "network_id",
                          "transaction_id",
                          "caller",
                          "sender",
                          "recipient",
                          "factory",
                          "pool",
                          "token0",
                          "token1",
                          "amount0",
                          "amount1",
                          "price0",
                          "price1",
                          "value0",
                          "value1",
                          "fee",
                          "protocol"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 22349926,
                      "datetime": "2025-04-26 01:29:23",
                      "timestamp": 1745630963,
                      "transaction_id": "0xbedbd3f7a7774b858c96aa39bcc3106c8741b61f0ee1434f7a682061b714129f",
                      "caller": "0x5141b82f5ffda4c6fe1e372978f1c5427640a190",
                      "pool": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
                      "factory": "0x1f98431c8ad98523631ae4a59f267346ea31f984",
                      "token0": {
                        "address": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                        "symbol": "USDC",
                        "decimals": 6
                      },
                      "token1": {
                        "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                        "symbol": "WETH",
                        "decimals": 18
                      },
                      "sender": "0x5141b82f5ffda4c6fe1e372978f1c5427640a190",
                      "recipient": "0x5141b82f5ffda4c6fe1e372978f1c5427640a190",
                      "amount0": "7044734362",
                      "amount1": "-3900976535378616196",
                      "value0": 7044.734362,
                      "value1": -3.900976535378616,
                      "price0": 0.0005539546527418627,
                      "price1": 1805.2019150852589,
                      "protocol": "uniswap_v3",
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getSwapsEvm",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic",
                "unichain"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "pool",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by contract address",
              "example": "0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640"
            }
          },
          {
            "in": "query",
            "name": "caller",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address"
            }
          },
          {
            "in": "query",
            "name": "sender",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address"
            }
          },
          {
            "in": "query",
            "name": "recipient",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address"
            }
          },
          {
            "in": "query",
            "name": "protocol",
            "schema": {
              "type": "string",
              "enum": [
                "uniswap_v2",
                "uniswap_v3"
              ],
              "description": "Protocol name",
              "example": "uniswap_v3"
            }
          },
          {
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string",
              "enum": [
                "timestamp"
              ],
              "default": "timestamp",
              "description": "The field by which to order the results."
            }
          },
          {
            "in": "query",
            "name": "orderDirection",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "description": "The order in which to return the results: Ascending (asc) or Descending (desc)."
            }
          },
          {
            "in": "query",
            "name": "transaction_id",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{64}$",
              "description": "Filter by transaction"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "Swap Events",
        "description": "Provides Uniswap V2 & V3 swap events.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/pools/evm": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string"
                          },
                          "network_id": {
                            "type": "string",
                            "enum": [
                              "mainnet",
                              "bsc",
                              "base",
                              "arbitrum-one",
                              "optimism",
                              "matic",
                              "unichain"
                            ],
                            "description": "The Graph Network ID https://thegraph.com/networks",
                            "example": "mainnet"
                          },
                          "transaction_id": {
                            "type": "string"
                          },
                          "factory": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "pool": {
                            "type": "string",
                            "description": "Filter by address"
                          },
                          "token0": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Filter by address"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "token1": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Filter by address"
                              },
                              "symbol": {
                                "type": "string"
                              },
                              "decimals": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "address",
                              "symbol",
                              "decimals"
                            ]
                          },
                          "fee": {
                            "type": "number"
                          },
                          "protocol": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "network_id",
                          "transaction_id",
                          "factory",
                          "pool",
                          "token0",
                          "token1",
                          "fee",
                          "protocol"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 12376729,
                      "datetime": "2021-05-05 21:42:11",
                      "transaction_id": "0x125e0b641d4a4b08806bf52c0c6757648c9963bcda8681e4f996f09e00d4c2cc",
                      "factory": "0x1f98431c8ad98523631ae4a59f267346ea31f984",
                      "pool": "0x88e6a0c2ddd26feeb64f039a2c41296fcb3f5640",
                      "token0": {
                        "address": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                        "symbol": "USDC",
                        "decimals": 6
                      },
                      "token1": {
                        "address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                        "symbol": "WETH",
                        "decimals": 18
                      },
                      "fee": 500,
                      "protocol": "uniswap_v3",
                      "network_id": "mainnet"
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getPoolsEvm",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic",
                "unichain"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "pool",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by contract address",
              "example": "0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640"
            }
          },
          {
            "in": "query",
            "name": "factory",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address"
            }
          },
          {
            "in": "query",
            "name": "token",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address"
            }
          },
          {
            "in": "query",
            "name": "symbol",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "protocol",
            "schema": {
              "type": "string",
              "enum": [
                "uniswap_v2",
                "uniswap_v3"
              ],
              "description": "Protocol name",
              "example": "uniswap_v3"
            }
          }
        ],
        "summary": "Liquidity Pools",
        "description": "Provides Uniswap V2 & V3 liquidity pool metadata.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ohlc/pools/evm/{pool}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ticker": {
                            "type": "string"
                          },
                          "open": {
                            "type": "number"
                          },
                          "high": {
                            "type": "number"
                          },
                          "low": {
                            "type": "number"
                          },
                          "close": {
                            "type": "number"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "uaw": {
                            "type": "number"
                          },
                          "transactions": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "datetime",
                          "ticker",
                          "open",
                          "high",
                          "low",
                          "close",
                          "volume",
                          "uaw",
                          "transactions"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "datetime": "2025-04-22 01:00:00",
                      "ticker": "WETHUSDC",
                      "open": 1568.1231985920829,
                      "high": 1588.0055525937228,
                      "low": 1567.4961060936091,
                      "close": 1587.846767916931,
                      "volume": 7313447103818,
                      "uaw": 53,
                      "transactions": 309
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getOhlcPoolsEvmByPool",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pool",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by contract address",
              "example": "0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic",
                "unichain"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "1d",
                "1w"
              ],
              "default": "1h",
              "description": "The interval for which to aggregate price data (hourly, 4-hours, daily or weekly)."
            }
          },
          {
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "OHLCV by Pool",
        "description": "Provides pricing data in the Open/High/Low/Close/Volume (OHCLV) format.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ohlc/prices/evm/{contract}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "ticker": {
                            "type": "string"
                          },
                          "open": {
                            "type": "number"
                          },
                          "high": {
                            "type": "number"
                          },
                          "low": {
                            "type": "number"
                          },
                          "close": {
                            "type": "number"
                          },
                          "volume": {
                            "type": "number"
                          },
                          "uaw": {
                            "type": "number"
                          },
                          "transactions": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "datetime",
                          "ticker",
                          "open",
                          "high",
                          "low",
                          "close",
                          "volume",
                          "uaw",
                          "transactions"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "datetime": "2025-04-22 01:00:00",
                      "ticker": "WETHUSD",
                      "open": 1559.036656656456,
                      "high": 1588.0055525937225,
                      "low": 1559.036656656456,
                      "close": 1588.0055525937225,
                      "volume": 5500074.134435,
                      "uaw": 93,
                      "transactions": 1062
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getOhlcPricesEvmByContract",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by contract address",
              "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic",
                "unichain"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "1d",
                "1w"
              ],
              "default": "1h",
              "description": "The interval for which to aggregate price data (hourly, 4-hours, daily or weekly)."
            }
          },
          {
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "OHLCV by Contract",
        "description": "Provides pricing data in the Open/High/Low/Close/Volume (OHCLV) format.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/historical/balances/evm/{address}": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datetime": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "contract": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "decimals": {
                            "type": "string"
                          },
                          "open": {
                            "type": "number"
                          },
                          "high": {
                            "type": "number"
                          },
                          "low": {
                            "type": "number"
                          },
                          "close": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "datetime",
                          "contract",
                          "name",
                          "symbol",
                          "decimals",
                          "open",
                          "high",
                          "low",
                          "close"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "block_num": 21764208,
                      "datetime": "2025-02-03 06:31:23",
                      "date": "2025-02-03",
                      "contract": "0xc944e90c64b2c07662a292be6244bdf05cda44a7",
                      "amount": "339640316263000000000000000",
                      "decimals": 18,
                      "symbol": "GRT",
                      "network_id": "mainnet",
                      "price_usd": 0.10426804866144047,
                      "value_usd": 35413633.023497514
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getHistoricalBalancesEvmByAddress",
        "tags": [
          "EVM"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "address",
            "schema": {
              "type": "string",
              "pattern": "^(0[xX])?[0-9a-fA-F]{40}$",
              "description": "Filter by address",
              "example": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "1d",
                "1w"
              ],
              "default": "1h",
              "description": "The interval for which to aggregate price data (hourly, 4-hours, daily or weekly)."
            }
          },
          {
            "in": "query",
            "name": "network_id",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "bsc",
                "base",
                "arbitrum-one",
                "optimism",
                "matic",
                "unichain"
              ],
              "description": "The Graph Network ID https://thegraph.com/networks",
              "example": "mainnet"
            }
          },
          {
            "in": "query",
            "name": "contracts",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "startTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "endTime",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "UNIX timestamp in seconds."
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 10,
              "description": "The maximum number of items returned in a single request."
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "description": "The page number of the results to return."
            }
          }
        ],
        "summary": "Historical Balances",
        "description": "Provides historical ERC-20 & Native balances by wallet address.",
        "x-tagGroups": [
          "Historical"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "OK"
              }
            }
          },
          "403": {
            "description": "Authentication Failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 403,
                  "code": "authentication_failed"
                }
              }
            }
          },
          "500": {
            "description": "Database Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 500,
                  "code": "bad_database_response"
                }
              }
            }
          },
          "502": {
            "description": "Connection Refused",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "example": {
                  "status": 502,
                  "code": "connection_refused"
                }
              }
            }
          }
        },
        "operationId": "getHealth",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get health status of the API"
      }
    },
    "/version": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "commit": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "version",
                    "date",
                    "commit"
                  ]
                },
                "example": {
                  "version": "1.3.7",
                  "commit": "dc8469f",
                  "date": "2025-05-02",
                  "repo": "pinax-network/token-api"
                }
              }
            }
          }
        },
        "operationId": "getVersion",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get the version of the API"
      }
    },
    "/networks": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "networks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "fullName": {
                            "type": "string"
                          },
                          "shortName": {
                            "type": "string"
                          },
                          "caip2Id": {
                            "type": "string"
                          },
                          "networkType": {
                            "type": "string"
                          },
                          "icon": {
                            "type": "object",
                            "properties": {
                              "web3Icons": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              }
                            },
                            "required": [
                              "web3Icons"
                            ]
                          },
                          "alias": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "id",
                          "fullName",
                          "shortName",
                          "caip2Id",
                          "networkType",
                          "icon",
                          "alias"
                        ]
                      }
                    }
                  },
                  "required": [
                    "networks"
                  ]
                },
                "example": {
                  "networks": [
                    {
                      "id": "mainnet",
                      "fullName": "Ethereum Mainnet",
                      "shortName": "Ethereum",
                      "networkType": "mainnet",
                      "nativeToken": "ETH",
                      "caip2Id": "eip155:1",
                      "icon": {
                        "web3Icons": {
                          "name": "ethereum"
                        }
                      },
                      "aliases": [
                        "ethereum",
                        "eth",
                        "eth-mainnet",
                        "evm-1"
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "operationId": "getNetworks",
        "tags": [
          "Monitoring"
        ],
        "parameters": [],
        "description": "Get supported networks of the API"
      }
    }
  }
}