{
  "openapi": "3.1.0",
  "info": {
    "title": "Token API",
    "description": "Power your apps & AI agents with real-time token data.",
    "version": "3.9.0+028ea53 (2026-02-11)"
  },
  "servers": [
    {
      "url": "https://token-api.thegraph.com/",
      "description": "Token API - Remote"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  },
  "paths": {
    "/v1/evm/transfers": {
      "get": {
        "operationId": "getV1EvmTransfers",
        "summary": "Token Transfers",
        "description": "Returns ERC-20 transfers with transaction and block data.",
        "tags": [
          "EVM Tokens (ERC-20)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}[T ]\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})?$"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "transaction_id": {
                            "type": "string",
                            "description": "Filter by transaction hash",
                            "example": "0xf6374799c227c9db38ff5ac1d5bebe8b607a1de1238cd861ebd1053ec07305ca"
                          },
                          "contract": {
                            "type": "string",
                            "description": "Filter by contract address",
                            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                          },
                          "from": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "to": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "symbol": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "decimals": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "network": {
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet",
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "optimism",
                              "polygon",
                              "unichain"
                            ]
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "timestamp",
                          "transaction_id",
                          "contract",
                          "from",
                          "to",
                          "name",
                          "symbol",
                          "decimals",
                          "amount",
                          "value",
                          "network"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ]
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "description": "ISO 8601 datetime string",
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "block_num": 24278225,
                          "datetime": "2026-01-20 19:57:11",
                          "timestamp": 1768939031,
                          "transaction_id": "0x589cbe12efa0cca5a29b17bf7ee49c99566f0e05e937d54104134a2d916ab265",
                          "log_index": 24,
                          "contract": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                          "type": "transfer",
                          "from": "0x2393d38400cad1d0ffae85b37d76de05bb7eddc6",
                          "to": "0xd4f1171683f1bc07b77d0307a01b64dba5369cf8",
                          "name": "USD Coin",
                          "symbol": "USDC",
                          "decimals": 6,
                          "amount": "2686",
                          "value": 0.002686,
                          "network": "mainnet"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 403,
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 404,
                      "code": "not_found_data",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 500,
                      "code": "internal_server_error",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "schema": {
              "example": "mainnet",
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "optimism",
                "polygon",
                "unichain"
              ]
            },
            "required": true,
            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks"
          },
          {
            "in": "query",
            "name": "transaction_id",
            "schema": {
              "type": "string",
              "example": "0x96b1b180d22dae2b18a783ebdd5ae33f6867f3572f87c69a135c6c0a15a63c8e",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by transaction hash",
                  "example": "0xf6374799c227c9db38ff5ac1d5bebe8b607a1de1238cd861ebd1053ec07305ca"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by transaction hash",
                    "example": "0xf6374799c227c9db38ff5ac1d5bebe8b607a1de1238cd861ebd1053ec07305ca"
                  }
                }
              ]
            },
            "description": "Filter by transaction hash<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by contract address",
                  "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by contract address",
                    "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                  }
                }
              ]
            },
            "description": "Filter by contract address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "from_address",
            "schema": {
              "type": "string",
              "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by address",
                  "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by address",
                    "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                  }
                }
              ]
            },
            "description": "Filter by address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "to_address",
            "schema": {
              "type": "string",
              "example": "0xdadb0d80178819f2319190d340ce9a924f783711",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by address",
                  "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by address",
                    "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                  }
                }
              ]
            },
            "description": "Filter by address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "start_time",
            "schema": {
              "type": "string",
              "default": "2015-01-01"
            },
            "description": "UNIX timestamp in seconds or date string (e.g. \"2025-01-01T00:00:00Z\", \"2025-01-01\", ...)."
          },
          {
            "in": "query",
            "name": "end_time",
            "schema": {
              "type": "string",
              "default": "2050-01-01"
            },
            "description": "UNIX timestamp in seconds or date string (e.g. \"2025-01-01T00:00:00Z\", \"2025-01-01\", ...)."
          },
          {
            "in": "query",
            "name": "start_block",
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "description": "Filter by block number"
          },
          {
            "in": "query",
            "name": "end_block",
            "schema": {
              "default": 9999999999,
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "description": "Filter by block number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Number of items* returned in a single request.<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 767465558638
            },
            "description": "Page number to fetch.<br>Empty `data` array signifies end of results."
          }
        ]
      }
    },
    "/v1/evm/transfers/native": {
      "get": {
        "operationId": "getV1EvmTransfersNative",
        "summary": "Native Transfers",
        "description": "Returns Native transfers with transaction and block data.",
        "tags": [
          "EVM Tokens (Native)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "number"
                          },
                          "datetime": {
                            "type": "string",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}[T ]\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})?$"
                          },
                          "timestamp": {
                            "type": "number"
                          },
                          "transaction_id": {
                            "type": "string",
                            "description": "Filter by transaction hash",
                            "example": "0xf6374799c227c9db38ff5ac1d5bebe8b607a1de1238cd861ebd1053ec07305ca"
                          },
                          "from": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "to": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "symbol": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "decimals": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "network": {
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet",
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "optimism",
                              "polygon",
                              "unichain"
                            ]
                          }
                        },
                        "required": [
                          "block_num",
                          "datetime",
                          "timestamp",
                          "transaction_id",
                          "from",
                          "to",
                          "name",
                          "symbol",
                          "decimals",
                          "amount",
                          "value",
                          "network"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ]
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "description": "ISO 8601 datetime string",
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "block_num": 24280071,
                          "datetime": "2026-01-21 02:07:35",
                          "timestamp": 1768961255,
                          "transaction_id": "0x73d346e1d286b893a3a0bb6b022845dc84cded73757b9ad89ae2c958fe266edf",
                          "transaction_index": 251,
                          "call_index": 3,
                          "type": "call",
                          "from": "0xd2b37ade14708bf18904047b1e31f8166d39612b",
                          "to": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "name": "Ethereum",
                          "symbol": "ETH",
                          "decimals": 18,
                          "amount": "25000000000000",
                          "value": 0.000025,
                          "network": "mainnet"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 403,
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 404,
                      "code": "not_found_data",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 500,
                      "code": "internal_server_error",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "schema": {
              "example": "mainnet",
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "optimism",
                "polygon",
                "unichain"
              ]
            },
            "required": true,
            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks"
          },
          {
            "in": "query",
            "name": "transaction_id",
            "schema": {
              "type": "string",
              "example": "0x96b1b180d22dae2b18a783ebdd5ae33f6867f3572f87c69a135c6c0a15a63c8e",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by transaction hash",
                  "example": "0xf6374799c227c9db38ff5ac1d5bebe8b607a1de1238cd861ebd1053ec07305ca"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by transaction hash",
                    "example": "0xf6374799c227c9db38ff5ac1d5bebe8b607a1de1238cd861ebd1053ec07305ca"
                  }
                }
              ]
            },
            "description": "Filter by transaction hash<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "from_address",
            "schema": {
              "type": "string",
              "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by address",
                  "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by address",
                    "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                  }
                }
              ]
            },
            "description": "Filter by address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "to_address",
            "schema": {
              "type": "string",
              "example": "0xdadb0d80178819f2319190d340ce9a924f783711",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by address",
                  "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by address",
                    "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                  }
                }
              ]
            },
            "description": "Filter by address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "start_time",
            "schema": {
              "type": "string",
              "default": "2015-01-01"
            },
            "description": "UNIX timestamp in seconds or date string (e.g. \"2025-01-01T00:00:00Z\", \"2025-01-01\", ...)."
          },
          {
            "in": "query",
            "name": "end_time",
            "schema": {
              "type": "string",
              "default": "2050-01-01"
            },
            "description": "UNIX timestamp in seconds or date string (e.g. \"2025-01-01T00:00:00Z\", \"2025-01-01\", ...)."
          },
          {
            "in": "query",
            "name": "start_block",
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "description": "Filter by block number"
          },
          {
            "in": "query",
            "name": "end_block",
            "schema": {
              "default": 9999999999,
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            },
            "description": "Filter by block number"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Number of items* returned in a single request.<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 767465558638
            },
            "description": "Page number to fetch.<br>Empty `data` array signifies end of results."
          }
        ]
      }
    },
    "/v1/evm/balances": {
      "get": {
        "operationId": "getV1EvmBalances",
        "summary": "Token Balances",
        "description": "Returns ERC-20 token balances for a wallet address.",
        "tags": [
          "EVM Tokens (ERC-20)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "last_update": {
                            "type": "string",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}[T ]\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})?$"
                          },
                          "last_update_block_num": {
                            "type": "number"
                          },
                          "last_update_timestamp": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "contract": {
                            "type": "string",
                            "description": "Filter by contract address",
                            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "symbol": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "decimals": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "network": {
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet",
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "optimism",
                              "polygon",
                              "unichain"
                            ]
                          }
                        },
                        "required": [
                          "last_update",
                          "last_update_block_num",
                          "last_update_timestamp",
                          "address",
                          "contract",
                          "amount",
                          "value",
                          "name",
                          "symbol",
                          "decimals",
                          "network"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ]
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "description": "ISO 8601 datetime string",
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "last_update": "2025-10-08 07:49:47",
                          "last_update_block_num": 23531651,
                          "last_update_timestamp": 1759909787,
                          "address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                          "contract": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                          "amount": "17058407780",
                          "value": 17058.40778,
                          "name": "USD Coin",
                          "symbol": "USDC",
                          "decimals": 6,
                          "network": "mainnet"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 403,
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 404,
                      "code": "not_found_data",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 500,
                      "code": "internal_server_error",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "schema": {
              "example": "mainnet",
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "optimism",
                "polygon",
                "unichain"
              ]
            },
            "required": true,
            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks"
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string",
              "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by address",
                  "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by address",
                    "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                  }
                }
              ]
            },
            "required": true,
            "description": "Filter by address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by contract address",
                  "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by contract address",
                    "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                  }
                }
              ]
            },
            "description": "Filter by contract address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "include_null_balances",
            "schema": {
              "type": "boolean"
            },
            "description": "Include zero/null balances in results"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Number of items* returned in a single request.<br>*Plan restricted."
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 767465558638
            },
            "description": "Page number to fetch.<br>Empty `data` array signifies end of results."
          }
        ]
      }
    },
    "/v1/evm/balances/native": {
      "get": {
        "operationId": "getV1EvmBalancesNative",
        "summary": "Native Balances",
        "description": "Returns EVM native balances for wallet addresses.",
        "tags": [
          "EVM Tokens (Native)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "last_update": {
                            "type": "string",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}[T ]\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})?$"
                          },
                          "last_update_block_num": {
                            "type": "number"
                          },
                          "last_update_timestamp": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "symbol": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "decimals": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "network": {
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet",
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "optimism",
                              "polygon",
                              "unichain"
                            ]
                          }
                        },
                        "required": [
                          "last_update",
                          "last_update_block_num",
                          "last_update_timestamp",
                          "address",
                          "amount",
                          "value",
                          "name",
                          "symbol",
                          "decimals",
                          "network"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ]
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "description": "ISO 8601 datetime string",
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "last_update": "2026-01-22 11:00:11",
                          "last_update_block_num": 24289888,
                          "last_update_timestamp": 1769079611,
                          "address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                          "amount": "32112523848657725248",
                          "value": 32.11252384865772,
                          "name": "Ethereum",
                          "symbol": "ETH",
                          "decimals": 18,
                          "network": "mainnet"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 403,
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 404,
                      "code": "not_found_data",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 500,
                      "code": "internal_server_error",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "schema": {
              "example": "mainnet",
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "optimism",
                "polygon",
                "unichain"
              ]
            },
            "required": true,
            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks"
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string",
              "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
              "anyOf": [
                {
                  "type": "string",
                  "description": "Filter by address",
                  "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                },
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Filter by address",
                    "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                  }
                }
              ]
            },
            "required": true,
            "description": "Filter by address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted."
          }
        ]
      }
    },
    "/v1/evm/balances/historical": {
      "get": {
        "operationId": "getV1EvmBalancesHistorical",
        "summary": "Historical Token Balances",
        "description": "Returns wallet ERC-20 token balance changes over time in OHLCV format.\n\nOHLCV historical depth is subject to plan restrictions.",
        "tags": [
          "EVM Tokens (ERC-20)"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datetime": {
                            "type": "string",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}[T ]\\d{2}:\\d{2}:\\d{2}(?:\\.\\d+)?(?:Z|[+-]\\d{2}:\\d{2})?$"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "contract": {
                            "type": "string",
                            "description": "Filter by contract address",
                            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "open": {
                            "type": "number"
                          },
                          "high": {
                            "type": "number"
                          },
                          "low": {
                            "type": "number"
                          },
                          "close": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "network": {
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet",
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "optimism",
                              "polygon",
                              "unichain"
                            ]
                          }
                        },
                        "required": [
                          "datetime",
                          "address",
                          "contract",
                          "decimals",
                          "open",
                          "high",
                          "low",
                          "close",
                          "name",
                          "symbol",
                          "network"
                        ]
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ]
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "description": "ISO 8601 datetime string",
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "datetime": "2026-01-09 00:00:00",
                          "address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                          "contract": "0xdac17f958d2ee523a2206206994597c13d831ec7",
                          "open": 269.18034,
                          "high": 269.18034,
                          "low": 269.18034,
                          "close": 269.18034,
                          "name": "Tether USD",
                          "symbol": "USDT",
                          "decimals": 6,
                          "network": "mainnet"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
[...]
