{
  "openapi": "3.1.0",
  "info": {
    "title": "Token API (Beta)",
    "description": "Power your apps & AI agents with real-time token data.",
    "version": "3.5.3+f74aaa1 (2025-11-06)"
  },
  "servers": [
    {
      "url": "https://token-api.thegraph.com/",
      "description": "Token API - Remote"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    },
    "schemas": {}
  },
  "paths": {
    "/v1/evm/balances/historical": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "datetime": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "contract": {
                            "type": "string",
                            "description": "Filter by contract address",
                            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                          },
                          "decimals": {
                            "type": "number"
                          },
                          "open": {
                            "type": "number"
                          },
                          "high": {
                            "type": "number"
                          },
                          "low": {
                            "type": "number"
                          },
                          "close": {
                            "type": "number"
                          },
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "network": {
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet",
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "optimism",
                              "polygon",
                              "unichain"
                            ]
                          }
                        },
                        "required": [
                          "datetime",
                          "address",
                          "contract",
                          "decimals",
                          "open",
                          "high",
                          "low",
                          "close",
                          "name",
                          "symbol",
                          "network"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ],
                      "additionalProperties": false
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "datetime": "2025-10-09 00:00:00",
                          "address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                          "contract": "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                          "open": 29.589346973619755,
                          "high": 50.783103394640676,
                          "low": 0.7830483276016842,
                          "close": 0.7841551025245886,
                          "name": "Native",
                          "symbol": "ETH",
                          "decimals": 18,
                          "network": "mainnet"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 403,
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 404,
                      "code": "not_found_data",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 500,
                      "code": "internal_server_error",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1EvmBalancesHistorical",
        "tags": [
          "EVM Tokens"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "schema": {
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet",
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "optimism",
                "polygon",
                "unichain"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string",
              "description": "Filter by address",
              "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "description": "Filter by contract address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted.",
              "example": "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "interval",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "4h",
                "1d",
                "1w"
              ],
              "default": "1d",
              "description": "The interval* for which to aggregate price data (hourly, 4-hours, daily or weekly).<br>*Plan restricted.",
              "example": "1w"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "start_time",
            "schema": {
              "type": "string",
              "description": "UNIX timestamp in seconds or date string (e.g. \"2025-01-01T00:00:00Z\", \"2025-01-01\", ...).",
              "default": "2025-10-06"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "end_time",
            "schema": {
              "type": "string",
              "description": "UNIX timestamp in seconds or date string (e.g. \"2025-01-01T00:00:00Z\", \"2025-01-01\", ...).",
              "default": "2050-01-01"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Number of items* returned in a single request.<br>*Plan restricted.",
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number to fetch.<br>Empty `data` array signifies end of results.",
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 767465558638
            },
            "required": false
          }
        ],
        "summary": "Historical Balances",
        "description": "Returns wallet token balance changes over time in OHLCV format.\n\nOHLCV historical depth is subject to plan restrictions.",
        "x-tagGroups": [
          "Historical"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evm/balances/native": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "last_update": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "last_update_block_num": {
                            "type": "number"
                          },
                          "last_update_timestamp": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "contract": {
                            "type": "string",
                            "description": "Filter by contract address",
                            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "symbol": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "decimals": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "network": {
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet",
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "optimism",
                              "polygon",
                              "unichain"
                            ]
                          }
                        },
                        "required": [
                          "last_update",
                          "last_update_block_num",
                          "last_update_timestamp",
                          "address",
                          "contract",
                          "amount",
                          "value",
                          "name",
                          "symbol",
                          "decimals",
                          "network"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ],
                      "additionalProperties": false
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "last_update": "2025-10-15 23:16:23",
                          "last_update_block_num": 23586308,
                          "last_update_timestamp": 1760570183,
                          "address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                          "contract": "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                          "amount": "784155102524588711",
                          "value": 0.7841551025245886,
                          "name": "Native",
                          "symbol": "ETH",
                          "decimals": 18,
                          "network": "mainnet"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 403,
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 404,
                      "code": "not_found_data",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 500,
                      "code": "internal_server_error",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1EvmBalancesNative",
        "tags": [
          "EVM Tokens"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "schema": {
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet",
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "optimism",
                "polygon",
                "unichain"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string",
              "description": "Filter by address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted.",
              "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "include_null_balances",
            "schema": {
              "description": "Include zero/null balances in results",
              "default": false,
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Number of items* returned in a single request.<br>*Plan restricted.",
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number to fetch.<br>Empty `data` array signifies end of results.",
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 767465558638
            },
            "required": false
          }
        ],
        "summary": "Native Balances",
        "description": "Returns EVM native balances for wallet addresses.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evm/balances": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "last_update": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "last_update_block_num": {
                            "type": "number"
                          },
                          "last_update_timestamp": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "contract": {
                            "type": "string",
                            "description": "Filter by contract address",
                            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "symbol": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "decimals": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "network": {
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet",
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "optimism",
                              "polygon",
                              "unichain"
                            ]
                          }
                        },
                        "required": [
                          "last_update",
                          "last_update_block_num",
                          "last_update_timestamp",
                          "address",
                          "contract",
                          "amount",
                          "value",
                          "name",
                          "symbol",
                          "decimals",
                          "network"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ],
                      "additionalProperties": false
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "last_update": "2025-10-08 07:49:47",
                          "last_update_block_num": 23531651,
                          "last_update_timestamp": 1759909787,
                          "address": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045",
                          "contract": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
                          "amount": "17058407780",
                          "value": 17058.40778,
                          "name": "USD Coin",
                          "symbol": "USDC",
                          "decimals": 6,
                          "network": "mainnet"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 403,
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 404,
                      "code": "not_found_data",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 500,
                      "code": "internal_server_error",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1EvmBalances",
        "tags": [
          "EVM Tokens"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "schema": {
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet",
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "optimism",
                "polygon",
                "unichain"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "address",
            "schema": {
              "type": "string",
              "description": "Filter by address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted.",
              "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "description": "Filter by contract address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted.",
              "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "include_null_balances",
            "schema": {
              "description": "Include zero/null balances in results",
              "default": false,
              "type": "boolean"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Number of items* returned in a single request.<br>*Plan restricted.",
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number to fetch.<br>Empty `data` array signifies end of results.",
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 767465558638
            },
            "required": false
          }
        ],
        "summary": "Token Balances",
        "description": "Returns ERC-20 token balances for a wallet address.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evm/dexes": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "factory": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "protocol": {
                            "description": "Protocol name",
                            "example": "uniswap_v3",
                            "type": "string",
                            "enum": [
                              "uniswap_v2",
                              "uniswap_v3",
                              "uniswap_v4"
                            ]
                          },
                          "total_uaw": {
                            "type": "number"
                          },
                          "total_transactions": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "factory",
                          "protocol",
                          "total_uaw",
                          "total_transactions"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ],
                      "additionalProperties": false
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "factory": "0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f",
                          "protocol": "uniswap_v2",
                          "total_uaw": 13529627,
                          "total_transactions": 20736917
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 403,
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 404,
                      "code": "not_found_data",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 500,
                      "code": "internal_server_error",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1EvmDexes",
        "tags": [
          "EVM DEXs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "schema": {
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet",
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "optimism",
                "polygon",
                "unichain"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "factory",
            "schema": {
              "type": "string",
              "description": "Filter by factory address<br>Single value or array of values* (separate multiple values with `,`)<br>*Plan restricted.",
              "example": "0x5c69bee701ef814a2b6a3edd4b1652cb9cc5aa6f",
              "default": ""
            },
            "required": false
          },
          {
            "in": "query",
            "name": "protocol",
            "schema": {
              "description": "Protocol name",
              "example": "uniswap_v3",
              "default": "",
              "type": "string",
              "enum": [
                "uniswap_v2",
                "uniswap_v3",
                "uniswap_v4"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Number of items* returned in a single request.<br>*Plan restricted.",
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number to fetch.<br>Empty `data` array signifies end of results.",
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 767465558638
            },
            "required": false
          }
        ],
        "summary": "Supported DEXs",
        "description": "Returns supported EVM DEXs.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evm/holders": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "last_update": {
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
                          },
                          "last_update_block_num": {
                            "type": "number"
                          },
                          "last_update_timestamp": {
                            "type": "number"
                          },
                          "address": {
                            "type": "string",
                            "description": "Filter by address",
                            "example": "0xd8da6bf26964af9d7eed9e03e53415d37aa96045"
                          },
                          "contract": {
                            "type": "string",
                            "description": "Filter by contract address",
                            "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "value": {
                            "type": "number"
                          },
                          "name": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "symbol": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "decimals": {
                            "anyOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "network": {
                            "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
                            "example": "mainnet",
                            "type": "string",
                            "enum": [
                              "arbitrum-one",
                              "avalanche",
                              "base",
                              "bsc",
                              "mainnet",
                              "optimism",
                              "polygon",
                              "unichain"
                            ]
                          }
                        },
                        "required": [
                          "last_update",
                          "last_update_block_num",
                          "last_update_timestamp",
                          "address",
                          "contract",
                          "amount",
                          "value",
                          "name",
                          "symbol",
                          "decimals",
                          "network"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "statistics": {
                      "type": "object",
                      "properties": {
                        "elapsed": {
                          "type": "number"
                        },
                        "rows_read": {
                          "type": "number"
                        },
                        "bytes_read": {
                          "type": "number"
                        }
                      },
                      "additionalProperties": false
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "previous_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "previous_page",
                        "current_page"
                      ],
                      "additionalProperties": false
                    },
                    "results": {
                      "type": "number"
                    },
                    "request_time": {
                      "type": "string"
                    },
                    "duration_ms": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "data",
                    "statistics",
                    "pagination",
                    "results",
                    "request_time",
                    "duration_ms"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "data": [
                        {
                          "last_update": "2025-10-16 09:08:11",
                          "last_update_block_num": 23589233,
                          "last_update_timestamp": 1760605691,
                          "address": "0x59cd1c87501baa753d0b5b5ab5d8416a45cd71db",
                          "contract": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                          "amount": "97590855599990900949144",
                          "value": 97590.85559999091,
                          "name": "Wrapped Ether",
                          "symbol": "WETH",
                          "decimals": 18,
                          "network": "mainnet"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Client side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 400,
                      "code": "bad_query_input",
                      "message": "Invalid query parameter provided"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 401,
                      "code": "unauthorized",
                      "message": "Authentication required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 403,
                      "code": "forbidden",
                      "message": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 400
                        },
                        {
                          "type": "number",
                          "const": 401
                        },
                        {
                          "type": "number",
                          "const": 403
                        },
                        {
                          "type": "number",
                          "const": 404
                        },
                        {
                          "type": "number",
                          "const": 405
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "authentication_failed",
                        "bad_header",
                        "missing_required_header",
                        "bad_query_input",
                        "forbidden",
                        "method_not_allowed",
                        "route_not_found",
                        "unauthorized",
                        "not_found_data"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 404,
                      "code": "not_found_data",
                      "message": "Resource not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server side error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "anyOf": [
                        {
                          "type": "number",
                          "const": 500
                        },
                        {
                          "type": "number",
                          "const": 502
                        },
                        {
                          "type": "number",
                          "const": 504
                        }
                      ]
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "bad_database_response",
                        "connection_refused",
                        "database_timeout",
                        "internal_server_error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 500,
                      "code": "internal_server_error",
                      "message": "An unexpected error occurred"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getV1EvmHolders",
        "tags": [
          "EVM Tokens"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "network",
            "schema": {
              "description": "The Graph Network ID for EVM networks https://thegraph.com/networks",
              "example": "mainnet",
              "type": "string",
              "enum": [
                "arbitrum-one",
                "avalanche",
                "base",
                "bsc",
                "mainnet",
                "optimism",
                "polygon",
                "unichain"
              ]
            },
            "required": true
          },
          {
            "in": "query",
            "name": "contract",
            "schema": {
              "type": "string",
              "description": "Filter by contract address",
              "example": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Number of items* returned in a single request.<br>*Plan restricted.",
              "default": 10,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "required": false
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number to fetch.<br>Empty `data` array signifies end of results.",
              "default": 1,
              "type": "integer",
              "minimum": 1,
              "maximum": 767465558638
            },
            "required": false
          }
        ],
        "summary": "Token Holders",
        "description": "Returns top token holders ranked by balance.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/v1/evm/nft/collections": {
      "get": {
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_creation": {
[...]
